#title {
    font-size : default;
    width: 40 vmax;
}
.centre {
    text-align: centre;
    margin: auto;;
        padding: auto;;

}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
        font-size: 1.6rem;
        line-height: 1.5;
        text-align: center;
        color: #333;
        margin: 0;
    }
    
    section {
        display: block;
    }
    max-width: 60%;
    display: block;

    #headline {
        margin: 50px 0;
        text-align: center;
    }