#title {
    font-size : default;
    width: 40 vmax;
}
.centre {
    text-align: centre;
    margin: auto;
    padding: auto;

}
body {
    background-color: gray

}
#image {
    height: auto;
    max-width: 60%;
    display: block;

}